body{
    font-size: medium;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: aquamarine;
}
#inputtext{
    padding: 5px;
    max-width: fit-content;
    border: black;
    height: 30;
    width:50;
}
.container{
    color: 000;

}